.navbar-brand {
    
}

#primeira {
    align-items: center;
    text-align: center;
    padding: 5%;
    background-image: url("/abstract_orange_polygonal_vector_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.pix {
    color: rgb(250, 65, 65);
    font-weight: bold;
}

@media (max-width: 480px)
{
  .pix
   {
    color: white;
   }
}

#segunda {
    background-image: url("/img/urbx_sc8s_161130.jpg");
    background-repeat:repeat;
    background-size: 100%;
    padding: 3%;
}

.card {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.card-body {
    border-radius: 25px;
    text-align: center;
}

.list-group-item {
    height: 60px;
    align-items: center;
    align-content: space-around;
    
    text-align: center;
}

#terceira {
    background-color: rgb(134, 33, 3);
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.rodape {
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
}


.atribution {
    color: white;
    font-size: 12px;
    padding-top: 2%;
}

.whatsapp {
    display: inline-block;
    align-items:baseline;
    text-align: center;
    align-content: center;
}

#whats {
    margin-right: 5px;
}

.endereco {
    padding-top: 17.5px;
}

.botao {
    border: none;
    background-color: orangered;
    color: white;
    width: 70%;
    height: 10%;
}

.botao:hover {
    font-weight: bolder;
}

.boasvindas {
    padding-top: 5%;
}